{% extends 'admin/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1 class="mb-4">Dashboard</h1>

<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card text-bg-primary">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text display-4">{{ productCount }}</p>
                <a href="{{ path('admin_product_index') }}" class="text-white">Manage products &rarr;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-success">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <p class="card-text display-4">{{ categoryCount }}</p>
                <a href="{{ path('admin_category_index') }}" class="text-white">Manage categories &rarr;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-bg-info">
            <div class="card-body">
                <h5 class="card-title">Catalogs</h5>
                <p class="card-text display-4">{{ catalogCount }}</p>
                <a href="{{ path('admin_catalog_index') }}" class="text-white">Manage catalogs &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
